# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# production
build/
dist/
lib/

# env
.env
.env.local
.env.*.local

# firebase
.firebase/
.firebase-data/
firebase-debug.log
firestore-debug.log
ui-debug.log
*-debug.log

# misc
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
